
@{
    ViewBag.Title = "Menage Hotel";
}

<div class="text-center">
    <h1>Menage Hotel</h1>
    <br />
    <input class="btn btn-info btn-lg" type="button" value="Add New Hotel" onclick="location.href='@Url.Action("Create", "Hotels")'" /><tab> </tab>
    <input class="btn btn-info btn-lg" type="button" value="Add New Room" onclick="location.href='@Url.Action("AddRoom", "Hotels")'" />

</div>
